
{% extends 'base.html' %}
{% block contenido %}
<script src="/static/js/alertas.js"></script>
<div class="container justify-content-center">
    <h1 class="text-center text-light pt-3 font-weight-bold">Cuidados previos antes de asistir a sus turnos</h1>
</div>

<div class="container bg-white d-flex justify-content-center mt-5 align-middle  align-items-center"
    style="width: 75%; border-radius: 25px;">
    <div class="container">
        <div class="row mt-5">
            <div class="col-3">
                <img src="/media/lavado-a-mano 1.png" alt="" srcset="" style="width: 150px; height: 150px;">
            </div>
            <div class="col-9">
                <h3 class="font-weight-bold">LAVARSE LAS MANOS FRECUENTEMENTE</h3>
                <p class="text-justify">Lávese las manos con frecuencia con agua y jabón por al menos 20 segundos,
                    especialmente después de haber estado en un lugar público, o después de sonarse la nariz, toser o
                    estornudar.</p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-3">
                <img src="/media/coronavirus 1.png" alt="" srcset="" style="width: 150px; height: 150px;">
            </div>
            <div class="col-9">
                <h3 class="font-weight-bold">CUBRIRSE LA BOCA Y NARIZ CON UNA MASCARILLA</h3>
                <p class="text-justify">El objetivo de la mascarilla es proteger a otras personas. Todos deben usar una
                    mascarilla en lugares públicos, pero solamente se pueden quitar con mucha precaución con los
                    cuidadoes previos necesarios.</p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-3">
                <img src="/media/distancia 1.png" alt="" srcset="" style="width: 150px; height: 150px;">
            </div>
            <div class="col-9">
                <h3 class="font-weight-bold">MANTENGA LA DISTANCIA Y EVITE EL CONTACTO DIRECTO</h3>
                <p class="text-justify">Mantenga la distancia minima de dos metros de las personas que no viven en su
                    casa hasta llegar al local.</p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-3">
                <img src="/media/caja-de-panuelos 1.png" alt="" srcset="" style="width: 150px; height: 150px;">
            </div>
            <div class="col-9">
                <h3 class="font-weight-bold">CUBRIRSE LA NARIZ Y LA BOCA AL TOSER Y ESTORNUDAR</h3>
                <p class="text-justify">Cúbrase siempre la boca y la nariz con un pañuelo desechable al toser o
                    estornudar o cúbrase con la parte interna del codo y no escupa. Recuerde descartar el pañulo en la
                    basura. Luego lávese las manos inmediatamente con agua y jabón.</p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-3">
                <img src="/media/rociar 1.png" alt="" srcset="" style="width: 150px; height: 150px;">
            </div>
            <div class="col-9">
                <h3 class="font-weight-bold">LIMPIE Y DESINFECTE</h3>
                <p class="text-justify">Limpie y desinfecte diaremente las superficies que se tocan con frecuencia. Esto
                    incluye las mesas, las manijas de las puertas, los interruptores de luz, los mesones, las barandas,
                    los escritorios, los lavamos y los lavaplatos.</p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-3">
                <img src="/media/620871 1.png" alt="" srcset="" style="width: 150px; height: 150px;">
            </div>
            <div class="col-9">
                <h3 class="font-weight-bold">MONITOREE SU SALUD A DIARIO</h3>
                <p class="text-justify">Esté atento a la aparición de síntomas como la tos, fibre, dificultad para
                    respirar u otros síntomas del COVID-19. Ante cualquier duda, consulte con su medico de cabecera o
                    con el centro de salud mas cercano.</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}