{% extends 'base.html' %}
{% block contenido %}
<div class="container justify-content-center">
    <h1 class="text-center text-light pt-3 font-weight-bold p-5">Sobre nosotros</h1>
</div>

<div class="container bg-white">
    <div class="row">
        <div class="col-7" style="background: #D3D3D3">
            <div class="row p-3 justify-content-center align-items-center">
                <div class="col-4">
                    <img src="/media/nosotros/WhatsApp Image 2020-06-10 at 12.52.05 PM.jpeg" alt="" srcset=""
                        style="width: 100px; height: 100px;">
                </div>
                <div class="col-5 ">
                    <h4 style="font-family: Poppins;"><strong>Balbiano, Renzo </strong> </h4>
                </div>
                <div class="col-3" style="margin-left: -25px">
                    <h5 style="font-family: Roboto Condensed">Desarrollador</h5>
                </div>
            </div>
            <div class="row p-3 justify-content-center align-items-center">
                <div class="col-4">
                    <img src="/media/nosotros/pp.jpg" alt="" srcset="" style="width: 100px; height: 100px;">
                </div>
                <div class="col-5 ">
                    <h4 style="font-family: Poppins;"><strong>Benolol, Alejandro </strong> </h4>
                </div>
                <div class="col-3" style="margin-left: -25px">
                    <h5 style="font-family: Roboto Condensed">Desarrollador</h5>
                </div>
            </div>
            <div class="row p-3 justify-content-center align-items-center">
                <div class="col-4">
                    <img src="/media/nosotros/image.jpg" alt="" srcset="" style="width: 100px; height: 100px;">
                </div>
                <div class="col-5 ">
                    <h4 style="font-family: Poppins;"><strong>Blanco, Augusto </strong> </h4>
                </div>
                <div class="col-3" style="margin-left: -25px">
                    <h5 style="font-family: Roboto Condensed">Desarrollador</h5>
                </div>
            </div>
            <div class="row p-3 justify-content-center align-items-center">
                <div class="col-4">
                    <img src="/media/nosotros/photo.jpg" alt="" srcset="" style="width: 100px; height: 100px;">
                </div>
                <div class="col-5 ">
                    <h4 style="font-family: Poppins;"><strong>Desza, Joaquín </strong> </h4>
                </div>
                <div class="col-3" style="margin-left: -25px">
                    <h5 style="font-family: Roboto Condensed">Desarrollador</h5>
                </div>
            </div>
            <div class="row p-3 justify-content-center align-items-center">
                <div class="col-4">
                    <img src="/media/nosotros/image2.jpg" alt="" srcset="" style="width: 100px; height: 100px;">
                </div>
                <div class="col-5 ">
                    <h4 style="font-family: Poppins;"><strong>Naidenoff, Damian </strong> </h4>
                </div>
                <div class="col-3" style="margin-left: -25px">
                    <h5 style="font-family: Roboto Condensed">Desarrollador</h5>
                </div>
            </div>
            <div class="row p-3 justify-content-center align-items-center">
                <div class="col-4">
                    <img src="/media/nosotros/WhatsApp Image 2020-06-10 at 15.46.21.jpeg" alt="" srcset=""
                        style="width: 100px; height: 100px;">
                </div>
                <div class="col-5 ">
                    <h4 style="font-family: Poppins;"><strong>Salinas, Carlos </strong> </h4>
                </div>
                <div class="col-3" style="margin-left: -25px">
                    <h5 style="font-family: Roboto Condensed">Desarrollador</h5>
                </div>
            </div>
            <div class="row p-3 justify-content-center align-items-center">
                <div class="col-4">
                    <img src="/media/nosotros/lucho.jpg" alt="" srcset="" style="width: 100px; height: 100px;">
                </div>
                <div class="col-5 ">
                    <h4 style="font-family: Poppins;"><strong>Ortiz, Luciano </strong> </h4>
                </div>
                <div class="col-3" style="margin-left: -25px">
                    <h5 style="font-family: Roboto Condensed">Desarrollador</h5>
                </div>
            </div>
            <div class="row p-3 justify-content-center align-items-center">
                <div class="col-4">
                    <img src="/media/nosotros/franco.jpg" alt="" srcset="" style="width: 100px; height: 100px;">
                </div>
                <div class="col-5 ">
                    <h4 style="font-family: Poppins;"><strong>Toñanes, Franco </strong> </h4>
                </div>
                <div class="col-3" style="margin-left: -25px">
                    <h5 style="font-family: Roboto Condensed">Desarrollador</h5>
                </div>
            </div>
        </div>
        <div class="col-5" style="background-color: #F8F8FF;">
            <h4 style="text-align: justify; font-family: Roboto Condensed; font-size: 25px">
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                *Pertenecemos a la comisión número uno del ciclo 2020 del Informatorio/Chaco.
                <br>
                <br>
                <br>
                *Este es nuestro primer sitio web lanzado en conjunto.
                <br>
                <br>
                <br>
                *Este es un proyecto pensado en el actual contexto de pandemia, que permitiría agilizar las solicitudes
                de trámites de turnos en establecimientos, para respetar el distanciamiento social y ayudar en el
                cuidado colectivo.
                <br>
                <br>
                <br>
                *La web permite sacar turnos en diferentes locales comerciales, gastronómicos, así como en gimnasios,
                peluquerías y demás. La gestión de los turnos se realiza teniendo en cuenta las dimensiones del local,
                la cantidad de empleados y el número de personas permitidas, para maximizar los cuidados y además
                permitir a los comercios continuar funcionando.
                <br>
                <br>
                <br>

            </h4>
        </div>
    </div>
</div>

<section>
    <h1 class="p-5"></h1>
</section>

{% endblock %}