body{
    background: #77c9e2;
}

.header{
    background: #77c9e2;
    list-style: none;
    color: white;
}

a{
    color: white;
    font-style: normal;
    font-weight: bold;
}

a:hover{
    text-decoration: none;
    color: black;
}

.nuevaLetra{

	font-family:Monaco,Georgia,Times,serif;

}